/target/
.classpath
*/.settings/
.settings/*
*/target/*
.class
*/logs/
\.svn/
.project
*/.project
.DS_Store
*/.DS_Store
*/.gitignore
.idea
*.iml
pom.xml.versionsBackup

# Package Files #
*.jar
*.war
*.ear
